footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #f44336;
    color: #fff;
    padding: 16px;
    text-align: center;
}

a {
    color: #fff;
}

i {
    margin: 0 .5rem;
}