<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign up / Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group color="warn">
                <mat-tab label="Sign up">
                    <app-signup-form></app-signup-form>
                </mat-tab>
                <mat-tab label="Login">
                    <app-login-form></app-login-form>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
      </mat-card>
</section>
