section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
}

.infos {
    display: none;
}

.logo {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.mat-card {
    min-height: 65vh;
}

.mat-card-header {
    justify-content: center;
}

@media screen and (max-width: 599px) {

    ::ng-deep .mat-tab-label {
        min-width: 130px!important;
    }

}

@media screen and (min-width: 992px) {

    section {
        justify-content: space-evenly;
    }

    .infos {
        display:block;
    }
}