section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
}

.mat-card {
    min-height: 65vh;
}

.mat-card-header {
    justify-content: center;
}

@media screen and (max-width: 599px) {

    ::ng-deep .mat-tab-label {
        min-width: 130px!important;
    }

}